<footer class="footer">
	<div class="row">

		<div class="six columns">
			<!-- <h3 class="footer-heading">Navigation</h3> -->
			<ul class="footer-list">
	            <li><a href="{{ site.url }}">Home</a></li>
	            <li><a href="{{ site.url }}/about">About</a></li>
	            <li><a href="{{ site.url }}/posts">Posts</a></li>
	            <li><a href="{{ site.url }}/projects">Projects</a></li>
	        </ul>
		</div>

		<div class="six columns">
			<!-- <h3 class="footer-heading">Connect</h3> -->
			<ul class="footer-list">
	            <li><a aria-label="Send email" href="ifebabatunde15@gmail.com">Email <i class="icon fa fa-envelope"></i></a></li>

	            <li><a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/ifeoluwababatunde/">LinkedIn <i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a></li>

	            <li><a aria-label="My Github" target="_blank" href="https://github.com/ifeolb">GitHub <i class="icon fa fa-github-square" aria-hidden="true"></i></a></li>

	            <li><a aria-label="My Instagram" target="_blank" href="https://instagram.com/snifewawa">Instagram <i class="icon fa fa-instagram" aria-hidden="true"></i></a></li>
	        </ul>
		</div>

	</div>

	<div class="row footer-bottom-bar">

		<div class="six columns">
			<p>&copy; {{site.username}}</p>
		</div>

		<div class="six columns">
    		

	</div>
</footer>
